*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}

// Default Variable
$yellow: #ffaf27;
$white: #ffffff;
$inter: "Inter", sans-serif; //font-family: 'Inter', sans-serif;
$title-size: 24px;
$subtitle-size: 18px;
$paragraph-size: 16px;

body {
  background-color: #252734;
}

nav {
  background-color: $yellow;
  border-radius: 0 0 60px 60px; //top-left top-right bottom-right bottom-left
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0; //Top bottom right left
  font-family: $inter;
  h1 {
    font-size: $title-size;
  }
  ul {
    display: flex;
    li {
      padding: 0 10px;
      list-style-type: none;
      a {
        color: black;
        font-size: $subtitle-size;
      }
    }
  }
}

#home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh; //Full screen display
  font-family: $inter;
  .bold {
    font-weight: 600;
  }

  .text {
    width: 550px;
    height: auto;
    color: $white;
    h1,
    h2 {
      font-weight: 400;
      font-size: 36px;
    }
    P {
      font-size: 20px;
    }
  }

  .buttons {
    margin-top: 20px;
    .button {
      background-color: $yellow;
      padding: 10px 20px;
      border-radius: 50px;
      text-decoration: none;
      color: black;
    }
  }
}

#about-me {
  font-family: $inter;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  .text {
    color: $white;
    border-left: 3px solid $yellow;
    padding-left: 16px;
    width: 550px;
    height: fit-content;
    .bold {
      font-weight: 600;
    }

    h1 {
      font-weight: 400;
    }
  }
}

#contact {
  font-family: $inter;
  .bold {
    font-weight: 600;
  }
  h1 {
    color: $white;
    font-weight: 400;
    text-align: center;
  }
}

#projects {
  font-family: $inter;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  .bold {
    font-weight: 600;
  }
  .title {
    color: $white;
    font-weight: 400;
    border-bottom: 3px solid $yellow;
    padding-bottom: 5px;
    width: fit-content;
  }
  .cards {
    display: flex;
    .card {
      margin: 0 16px;
      display: flex;
      flex-direction: column;
      color: $white;
      background-color: #464b61;
      padding: 25px 15px;
      height: 520px;
      max-width: 370px;
      border-radius: 30px;
      img {
        border-radius: 20px;
      }
      .text-card {
        h1 {
          font-size: $title-size;
          margin: 24px 0 10px;
        }
        p {
          font-size: $subtitle-size;
        }
        margin-bottom: 32px;
      }
      .button {
        background-color: $yellow;
        padding: 10px 20px;
        max-width: fit-content;
        border-radius: 10px;
        text-decoration: none;
        color: black;
      }
    }
  }
}

#top-btn {
  background-color: $yellow;
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 100;
  border: none;
  outline: none;
  padding: 10px 13px;
  border-radius: 15px;
  font-size: 36px;
  cursor: pointer;
  &:hover {
    background-color: #F39900;
  }
  i {
    color: $white;
  }
}
