$inter: "Inter", sans-serif;

body {
    background-color: #252734;
  }

.container {
    display: flex;
    gap: 2rem;
}

.title {
    font-family: $inter;
    text-align: center;
    font-size: 30px;
    color: white;
}

.t {
    font-family: $inter;
    position: absolute;
    top: 80px;
    left: 400px;
    color: white;
    font-size: 30px;
}

.c {
    font-family: $inter;
    position: absolute;
    top: 80px;
    left: 900px;
    color: white;
    font-size: 30px;
}

.name {
    ::placeholder {
        font-family: $inter;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    position: relative;
    width: 325px;
    height: 30px;
    top: 80px;
    left: 390px
}

.email {
    position: relative;
    width: 325px;
    height: 30px;
    top: 150px;
    left: 54px
}

.email::placeholder {
    font-family: $inter;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.number {
    position: relative;
    width: 325px;
    height: 30px;
    top: 220px;
    left: 10px
}

.number::placeholder {
    font-family: $inter;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.name:focus::placeholder,
.email:focus::placeholder,
.number:focus::placeholder {
    color: transparent;
}